{% extends "base.html" %} 
{% load static %} 
{% block title %}Wallet - Balance{% endblock %}

{% block content %}

<h1>Balances</h1>
<h3>Table of coins</h3>
<div class="ui-widget" style="padding-bottom: 120px;">
<input type="text" placeholder="search" id="coin_search">
</div>
<table class="table" style="padding-top: 120px;">
<tr>
<td>Coin</td>
<td>Name</td>
<td>Total Balance</td>
<td>BTC Value</td>
<td></td>
<td></td>
<td></td>
</tr>

{% for coin in coins%}
<tr>
    <td>{{coin.coin_ticker}}</td>
    <td>{{coin.coin_name}}</td>
    <td>{{coin.total_balance}}</td>
    <td>{{coin.btc_value}}</td>
</tr>
{%endfor%}
</table>

{{coins}}


{% endblock content %}