{% extends "base.html" %}
{% load static %}
{% block title %}Wallet - Withdrawals {%endblock title%}
	{% block content %}
		<br>
		</br>
		<div><h1>Withdrawals Success</h1>
		</div>
		<br>
		<div class="card">
			<h3 class="card-header">Withdrawal History</h3>
			<div class="card-body">
				<table class="table">
					<thead class="thead-dark">
						<tr>
							<th>#</th>
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th scope="row">1</th>
							<td>Mark</td>
							<td>Otto</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Jacob</td>
							<td>Thornton</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div><br>
	{% endblock content %}