{% extends "base.html" %} 
{% load static %} 
{% block title %}

<h2>Open Orders</h2>
<table class="table">
	<tr>
		<td>Date</td>
		<td>Pair</td>
		<td>Type</td>
		<td>Side</td>
		<td>Price</td>
		<td>Amount</td>
		<td>Filled %</td>
		<td>Total</td>
		<td>Trigger</td>
		<td>Conditions</td>
		<td>Action</td>
	</tr>
	{% for open_order from open_orders: %}
	<tr>
		<td>{{ open_order.date }}</td>
		<td>{{ open_order.pair }}</td>
		<td>{{ open_order.type }}</td>
		<td>{{ open_order.side }}</td>
		<td>{{ open_order.price }}</td>
		<td>{{ open_order.amount }}</td>
		<td>{{ open_order.filled }}</td>
		<td>{{ open_order.total }}</td>
		<td>{{ open_order.trigger }}</td>
		<td>{{ open_order.conditions }}</td>
		<td>{{ open_order.actions }}</td>
	</tr>
	{% endfor %}
	<tr>
	</tr>
</table>
{% endblock content %} 
