{% extends "base.html" %} 
{% load static %} 
{% block title %}

<h1>Balances</h1>
<h3>Table of coins</h3>
<div class="ui-widget" style="padding-bottom: 120px;">
<input type="text" placeholder="search" id="coin_search">
</div>
<table class="table" style="padding-top: 120px;">
<tr>
<td>Coin</td>
<td>Name</td>
<td>Total Balance</td>
<td>Available Balance</td>
<td>In Orders</td>
<td>BTC Value</td>
<td></td>
<td></td>
<td></td>
</tr>
{% for coin from coins: %}
<td>{{ coin.coin }}</td>
<td>{{ coin.name }}</td>
<td>{{ coin.total_balance }}</td>
<td>{{ coin.available_balance }}</td>
<td>{{ coin.in_order }}</td>
<td>{{ coin.btc_value }}</td>
<td><a href="{{}}">Deposit</a></td>
<td><a href="{{}}">Withdraw</a></td>
<td><a href="{{}}">Trade</a></td>
{% endfor %}
</table>


<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
	$( function() {
    var availableTags = [
    "Bitcoin",
    "Ethereum",
    "Dash",
    "Litecoin"
    ];
    $( "#coin_search" ).autocomplete({
      source: availableTags
    });
  } );
</script>
{% endblock content %} 
