<!DOCTYPE html>
<html>
<head>
	<title>Contact Page</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <style>
  footer{
  	background-color: #000;
  	color: #ffa;
  	text-align: center;
  	padding: 2%;
  }
  .card{
  	float: left;
  	 
  }
</style>
</head>
<body>
	<div class="jumbotron text-center">
		<h1>Koinrex</h1>
	</div>
	<div class="col-sm-12">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1944.1222720757494!2d77.63818710564026!3d12.956197653438315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae1410f16848ad%3A0x92b6930992e999ac!2sByte+Academy!5e0!3m2!1sen!2sin!4v1518254013515" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div class="row">
	<div class="col-sm-3 card" style="width: 18rem;">
  <img class="card-img-top" src="./images/sanoj.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Sanoj Mathew</h5>
    <p class="card-text">Website Designer</p>
    <a href="https://github.com/Sanojdon" class="btn btn-primary">View Git</a>
  </div>
</div>
<div class="col-sm-3 card" style="width: 18rem;">
  <img class="card-img-top" src="./images/oliver.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Oliver Porter</h5>
    <p class="card-text">Ideas Proprietor</p>
    <a href="https://github.com/omporter" class="btn btn-primary">View Git</a>
  </div>
</div>
<div class="col-sm-3 card" style="width: 18rem;">
  <img class="card-img-top" src="./images/ananth.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Ananth Adhikarla</h5>
    <p class="card-text">Model Designer</p>
    <a href="https://github.com/Ananth-Adhikarla" class="btn btn-primary">View Git</a>
  </div>
</div>
<div class="col-sm-3 card" style="width: 18rem;">
  <img class="card-img-top" src="./images/rohit.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rohit Gehe</h5>
    <p class="card-text">Project Lead</p>
    <a href="https://github.com/rohitgehe05" class="btn btn-primary">View Git</a>
  </div>
</div>
</div>
	
</body>
</html>